<div class=“row”>
  <div class="col-md-8 well">
    <% if params[:plan] == '2' %>
      <h1>Pro Account</h1>
      <p>Pro members can use dev match to find peers, developers and sponsors to create awesome!</p>
      <%= render "pro_form" %>
      <%= render "devise/shared/links" %>
    <% else %>
      <h1>Free Account</h1>
      <p>Sign up now for immediate access to our community of developers and sponsors</p>
      <%= render "free_form" %>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
  <div class="col-md-3 col-md-offset-1 well">
    <% if params[:plan] == '2' %>
      
    <% else %>
      
      <p>Call to Action to switch to Pro Account</p>
    <% end %>
  </div>
  
      
      
      
      
     
  </div>
</div>