<!DOCTYPE html>

<html>
    <head>
        
    </head>
    
    <body>
        <p>You have received a new message from the BootCamp App contact form.</p>
        <p>Message from: <%= "#{ @name }" %> </p>
        <p>Email address: <%= "#{ @email }" %> </p>
        <p><%= "#{ @body }" %></p>
    </body>
</html>